<a href="https://colab.research.google.com/github/todd1136/aipython/blob/main/240103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 10
if a > 5:
  print("a는 5보다 큽니다")

a는 5보다 큽니다

In [5]:
a = 'M'
if a == 'M':
  print('남자')
else:
  print('여자')

남자

In [14]:
score=int(input())
if score>=90:
  print('A')
elif score>=80:
  print('B')
elif score>=70:
  print('C')
elif score>=60:
  print('D')
else:
  print('F')

100
A

In [15]:
a = 10
b = 5
if a > 5:
  if b < 10:
    print('a는 5보다 크고 b는 10보다 작습니다.')

a는 5보다 크고 b는 10보다 작습니다.

In [17]:
a = 10
b = 5
if a > 5 and b < 10:
    print('a는 5보다 크고 b는 10보다 작습니다.')

a는 5보다 크고 b는 10보다 작습니다.

In [21]:
a = [1, 2, 3, 4, 5]
for i in a:
    print(i, end=' ')

1 2 3 4 5

In [24]:
for i in range(1,10,2):
  print(i)
print()
for i in range(10):
  print(i)

1
3
5
7
9

0
1
2
3
4
5
6
7
8
9

In [28]:
n = int(input())
a = 0
for i in range(n+1):
  a = a + i
print(a)

4
10

In [29]:
# 세 정수 입력 받기
A, B, C = map(int, input().split())

# 두 번째로 큰 정수 찾기
second_largest = None
if A >= B >= C or C >= B >= A:
    second_largest = B
elif B >= A >= C or C >= A >= B:
    second_largest = A
else:
    second_largest = C

# 결과 출력
print(second_largest)

3 4 5
4

In [32]:
def add(x,y):
  s = x + y
  a = s / 2
  return s, a
h,a = add(10,20)
print("합:",h,"평균:",a)
print("합:%d 평균:%.1f"%(h,a))

합: 30 평균: 15.0
합:30 평균:15.0

In [36]:
base_size = 8
for r in range(base_size):
  for c in range(8 - r):
    print('*',end='')
  print()

********
*******
******
*****
****
***
**
*