<a href="https://colab.research.google.com/github/todd1136/aipython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [2]:
words = ['Hello','world','this','is','a','test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [3]:
data = 'Geeks for Geeks'
lines = data.split(" ")
print(lines)

['Geeks', 'for', 'Geeks']

In [4]:
data = ['Geeks','for','Geeks']
sentence = '-'.join(data)
print(sentence)

Geeks-for-Geeks

In [6]:
squares = [x**2 for x in range(5) if x%2 == 0]
print(squares)

[0, 4, 16]

In [13]:
squares_3 = [x**2 for x in range(1, 21) if x % 3 == 0]
print(squares_3)

[9, 36, 81, 144, 225, 324]

In [11]:
city = ["Seoul","New York","London","Shanghai","Paris","Tokyo"]
S_first = [x for x in city if x[0]=='S']
print(S_first)

['Seoul', 'Shanghai']

In [12]:
fruits = ['apple','banana','cherry']
for index, fruit in enumerate(fruits):
  print(index,fruit)

0 apple
1 banana
2 cherry

In [16]:
fruits = ['a','b','c']
for index,fruit in enumerate(fruits):
  print('fruit{} name is {}'.format(index,fruit))

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [17]:
fruits = ['a','b','c']
for index,fruit in enumerate(fruits):
  print('fruit',index,' name is ',fruit,sep='')

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [18]:
names = ['John','Jane','Doe']
ages = [25,30,35]

for name,age in zip(names,ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [21]:
name = ["M","N","S","A"]
roll_no = [4,1,3,2]
a=[(n,r) for n,r in zip(name,roll_no)]
print(a)

[('M', 4), ('N', 1), ('S', 3), ('A', 2)]

In [23]:
add = lambda x,y:x+y
add(10,10)

20