<a href="https://colab.research.google.com/github/todd1136/aipython/blob/main/240104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1  #start
while(a <= 3):  #stop
    print('안녕',a)
    a+=1

안녕 1
안녕 2
안녕 3

In [ ]:
for i in range(1,5):
  print(i,'Welcome')
  for s in range(1,4):
    print(s,'Hello')
print('Done')

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [ ]:
A,B,C = map(int,input().split())
if B>=A>=C or C>=A>=B: #A가 2번째로 큰 경우
  print(A)
elif A>=B>=C or C>=B>=A: #B가 2
  print(B)
else:
  print(C)

1 2 3
2

In [ ]:
A,B,C = map(int,input().split())
nums=[A,B,C] #List
nums.sort() #오름차순정렬
print(nums[1])

2 3 4
3

In [ ]:
nums=[1,2,3]
nums[1]=0

In [ ]:
num=(1,2,3)
num[1]=0

TypeError: ignored

In [ ]:
score = [[29,18,27,30],
         [30,20,27,29],
         [23,25,29,30]]
for r in range(len(score)):
  for c in range(len(score[r])):
    print(score[r][c],end=" ")
  print()

29 18 27 30
30 20 27 29
23 25 29 30

In [14]:
#비어있는 score 리스트 변수를 사용하여 학생들의 점수를 입력받는다. 모든 학생들의 합계, 총인원수, 평균을 출력해 보자. 만약 입력받은 점수가 숫자가 아닌 문자이면 입력을 종료한다.아래 프로그램의 실행 결과를 참고하여 작성해 보자.
score=[]
while True:
  a = input('학생의 점수를 입력하세요.')
  if not a.isdigit():
    break
  else:
    score.append(int(a))
    continue
print('입력 데이터 출력 :',score)
print('합계 : ',sum(score))
print('인원수 :',len(score))
print('평균 : {}'.format(sum(score)/len(score)))

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.x
입력 데이터 출력 : [90, 70, 30]
합계 :  190
인원수 : 3
평균 : 63.333333333333336